<%- include("../includes/header.ejs", {title:"View Stage Information"}); %>
<div class="page-header">
    <h1>Stage Information</h1>
</div>

    <a href="/stage/add"> Add a New Stage </a>

<br />

<table class="table table-striped">
    <thead>
    <tr><th>Stage Number</th><th>Open Time</th><th>Close Time</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].stage_id %></td>
        <td><%= result[i].open_time%></td>
        <td><%= result[i].close_time%></td>
       <td><form action="/stage/delete/" style="display:inline;">
        <input type="hidden" name="stage_id" id="stage_id" value="<%= result[i].stage_id %>" />
        <input type="submit" value="Delete"/>
           </form></td>
    </tr>
    <% } %>
    </tbody>
</table>

<br/>
<br/>
Enter a cost (at least 12000 but less than 90000) to see which stages are over that cost.
<form action="/stage/budget" method="get">
    Budget: <input id="value" name="value" type="text" />
    <br />
    <br />
    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>