<%- include("../includes/header.ejs", {title: "Update " + employee.fname +  employee.lname}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>Update <%= employee.fname %>  <%= employee.lname %></h1>
</div>

<form action="/employee/update" method="get">
    <input type="hidden" id="employee_id" name="employee_id" value="<%= employee.employee_id %>">
    First Name: <input id="fname" name="fname" type="text" value="<%= employee.fname%>"/>
    <br />
   Last Name: <input id="lname" name="lname" type="text" value="<%= employee.lname %>"/>

    <br />
    Phone Number: <input id="phone" name="phone" type="text" value="<%= employee.phone %>"/>
    <br />
    Stage Number:
    <select id="stage_id" name="stage_id">
        <% for(var i=0; stage.length > i; i++ ) { %>
        <option value="<%= stage[i].stage_id %>">Stage <%= stage[i].stage_id %></option>
        <% } %>
    </select>
    <br />
    <input type="submit" />

</form>
<br/>
<a href="/employee/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>

</html>