<%- include("../includes/header.ejs", {title:"Employee - " + result[0].fname + result[0].lname}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

   <div class="page-header">
       <h1>Employee</h1>
   </div>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Woot! Success! You saved <%= result[0].fname %> <%= result[0].lname %>'s information.%>
    </div>
</div>
<% }%>

    <ul>
        <li>Name: <%= result[0].fname %> <%= result[0].lname %></li>
        <li>Phone Number:
            <ul>
                <li><%= result[0].phone %></li>
            </ul>
        </li>
        <li>Working on:
            <ul>
                <li>Stage <%= result[0].stage_id %></li>
            </ul>
        </li>
    </ul>

<a href="/employee/all"><< BACK</a>

<%- include("../includes/footer.ejs"); %>