<%- include("../includes/header.ejs", {title:"Employees - View All"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li class="active"><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>All Employees</h1>
</div>

<a href="/employee/add">Add New Employee</a> <br />
<br/>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Woot! Success! You saved <%= result[result.length-1].fname %> <%= result[result.length-1].lname %> as a new employee.%>
    </div>
</div>
<% }%>
<br />
<a href="/employee/booked">Filter By: Employees who booked an artist</a>
<br />
<br />
<table class="table table-striped">
    <thead>
    <tr><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/employee/?employee_id=<%= result[i].employee_id %>"><%= result[i].fname %> <%= result[i].lname %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/employee/edit/?employee_id=<%= result[i].employee_id %>'">Edit</button>
        </td>
    </tr>
    <% } %>
    </tbody>

</table>
<a href="/"><< BACK</a>
<%- include("../includes/footer.ejs"); %>