<%- include("../includes/header.ejs", {title:"Add New Booking"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>Add New Booking</h1>
</div>
    <form action="/booking/insert" method="get">
        Artist Name: <input id="artist_name" name="artist_name" type="text" />
        <br />
        Artist Email: <input id="email" name="email" type="text" />
        <br />
        Artist Phone: <input id="phone" name="phone" type="text" />
        <br />
        <br />
        Select a Stage
        <select id="stage_id" name="stage_id">
            <% for(var i=0; stage.length > i; i++ ) { %>
            <option value="<%= stage[i].stage_id %>">Stage <%= stage[i].stage_id %></option>
            <% } %>
        </select>
        <br />
        Select the employee who made the booking
        <select id="employee_id" name="employee_id">
            <% for(var i=0; employee.length > i; i++ ) { %>
            <option value="<%= employee[i].employee_id %>"><%= employee[i].fname %> <%= employee[i].lname %></option>
            <% } %>
        </select>
        <br />
        Booking Price:  <input id="cost" name="cost" type="text" />
        <br />
        <br />
        <input type="submit" />

    </form>
    <br/>
    <a href="/booking/all"><< BACK</a>

<%- include("../includes/footer.ejs"); %>